.anzh-rainbow .cover .image-cutter,
.anzh-rainbow .video-link {
  border:    var(--anzh-rainbow-border-1);
  animation: 2s anzh-rainbow linear infinite;
}
@keyframes anzh-rainbow {
  from { border: var(--anzh-rainbow-border-1); }
  25%  { border: var(--anzh-rainbow-border-2); }
  50%  { border: var(--anzh-rainbow-border-3); }
  75%  { border: var(--anzh-rainbow-border-4); }
}

.anzh-gold     .cover .image-cutter, .anzh-gold     .video-link { border: var(--anzh-gold-border);   }
.anzh-silver   .cover .image-cutter, .anzh-silver   .video-link { border: var(--anzh-silver-border); }
.anzh-bronze   .cover .image-cutter, .anzh-bronze   .video-link { border: var(--anzh-bronze-border); }
.anzh-copper   .cover .image-cutter, .anzh-copper   .video-link { border: var(--anzh-copper-border); }
.anzh-coal     .cover .image-cutter, .anzh-coal     .video-link { border: var(--anzh-coal-border);   }
.anzh-other    .cover .image-cutter, .anzh-other    .video-link { border: none;                      }

.anzh-rainbow-o .cover .image-cutter,
.anzh-rainbow-o .video-link {
  border:    var(--anzh-rainbow-border-1);
  animation: 2s anzh-rainbow linear infinite;
}
.anzh-gold-o   .cover .image-cutter, .anzh-gold-o   .video-link { border: var(--anzh-gold-border);   }
.anzh-silver-o .cover .image-cutter, .anzh-silver-o .video-link { border: var(--anzh-silver-border); }
.anzh-bronze-o .cover .image-cutter, .anzh-bronze-o .video-link { border: var(--anzh-bronze-border); }
.anzh-copper-o .cover .image-cutter, .anzh-copper-o .video-link { border: var(--anzh-copper-border); }
.anzh-coal-o   .cover .image-cutter, .anzh-coal-o   .video-link { border: var(--anzh-coal-border);   }
.anzh-other-o  .cover .image-cutter, .anzh-other-o  .video-link { border: none;                      }