.anzh-spoiler .cc-7, .anzh-spoiler .cc-3, .anzh-spoiler .cc-2 {
  height:     calc(13vw * 1.55);
  max-height: var(--anzh-height);
}
.anzh-spoiler .b-catalog_entry,
.anzh-spoiler .cc-2 {
  display: inline-block;
}

.anzh-spoiler .cc-7 > .c-column {
  width:         13%;
  height:        100%;
  margin-right:  1.2% !important;
  margin-bottom: 0px !important;
}
.anzh-spoiler .cc-3 > .c-column {
  width:         28%;
  height:        100%;
  margin-right:  3% !important;
  margin-bottom: 0px !important;
}
.anzh-spoiler .cc-2, .anzh-spoiler-container .cc-2 > .c-column,
.anzh-spoiler .cc-3, .anzh-spoiler-container .cc-3 > .c-column {
  position: relative;
  clear:    none !important;
}
.anzh-spoiler .cc-2 > .c-column {
  width:         calc(50% - 10px);
  height:        100%;
  margin-right:  10px !important;
  margin-bottom: 0px !important;
  clear:         none !important;
}
.anzh-spoiler .b-catalog_entry {
  width:  100%;
  height: 100%;
}