.anzh-comment {
  --c-height:  calc(min(1200px, 100vw) * 0.014);
  --c-pad:     2px;
  --c-pos:     calc(var(--anzh-border-width) + var(--c-pad));

  display:     block;
  position:    absolute;
  z-index:     999;
  left:        var(--c-pos);
  top:         var(--c-pos);
  width:       100%;
  height:      var(--c-height);
  text-align:  left;
  color:       white;
  font-size:   var(--c-height);
  line-height: var(--c-height);
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
.anzh-music-yt { top: calc(var(--c-pos) + var(--c-height) + var(--c-pad)); }