.anzh-c {
  position:      relative;
  height:        calc(13vw * 1.55);
  max-height:    var(--anzh-height);
  border-radius: 0%;
}

.anzh-c-music {
  position:      relative;
  height:        13vw;
  max-height:    calc(var(--anzh-height) * 0.6);
  border-radius: 0%;
}
.anzh-c-music > .cc-7, .anzh-c-music > .cc-6, .anzh-c-music > .cc-5, .anzh-c-music > .cc-4, .anzh-c-music > .cc-3, .anzh-c-music > .cc-2 {
  height:        13vw;
  max-height:    calc(var(--anzh-height) * 0.6);
  margin-bottom: 0px !important;
}
.anzh-c-music .cc-7 > .c-column, .anzh-c-music .cc-6 > .c-column, .anzh-c-music .cc-5 > .c-column, .anzh-c-music .cc-4 > .c-column, .anzh-c-music .cc-3 > .c-column, .anzh-c-music .cc-2 > .c-column {
  margin-bottom: 0px !important;
}