.a-f {
  display:     block;
  position:    absolute;
  z-index:     999;
  left:        -8%;
  top:         0px;
  width:       25%;
  height:      6%;
  text-align:  center;
  text-indent: 20%;
  line-height: 99.5%;
  font-size:   calc(min(1200px, 100vw) * 0.012);
  clip-path:   polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 22% 50%);
  background:  rgba(80, 145, 232, 1);
}