.anzh-heart {
  display:      block;
  position:     absolute;
  z-index:      999;
  left:         40%;
  bottom:       7%;
  width:        16%;
  height:       21%;
  border-image: radial-gradient(#e51616 69%,#0000 70%) 84.5% fill/100%;
  clip-path:    polygon(-41% 0,50% 91%, 141% 0);
}