/* ========== Значок просмотра (смотрю/брошено/...) ========== */
.cover.anime-tooltip-processed > .image-decor::before {
  opacity: 0.8;
}

/* ========== Парни ========== */

/* Жэньши */             [href*="characters/156096-"], [srcset*="characters/156096/"] {
  --custom-image:     url("https://i.imgur.com/fW9Lw3y.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Рой Мустанг */        [href*="characters/68-"], [srcset*="characters/68/"] {
  --custom-image:     url("https://i.imgur.com/5kLuS1A.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Рудеус Грейрат */     [href*="characters/111245-"], [srcset*="characters/111245/"] {
  --custom-image:     url("https://i.imgur.com/tvf1A74.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Синити Чиаки */       [href*="characters/1184-"], [srcset*="characters/1184/"] {
  --custom-image:     url("https://i.imgur.com/Q04gycE.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Соичиро Арима */      [href*="characters/358-"], [srcset*="characters/358/"] {
  --custom-image:     url("https://i.imgur.com/XbwlYgE.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Такуми Усуи */        [href*="characters/14523-"], [srcset*="characters/14523/"] {
  --custom-image:     url("https://i.imgur.com/5knnU21.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Томоя Окадзаки */     [href*="characters/4606-"], [srcset*="characters/4606/"] {
  --custom-image:     url("https://i.imgur.com/B6fMPBk.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Фердинанд */          [href*="characters/172464-"], [srcset*="characters/172464/"] {
  --custom-image:     url("https://i.imgur.com/DGIC0zn.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Хак Сон */            [href*="characters/43815-"], [srcset*="characters/43815/"] {
  --custom-image:     url("https://i.imgur.com/GsXE8vC.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Шота Аидзава */       [href*="characters/117915-"], [srcset*="characters/117915/"] {
  --custom-image:     url("https://i.imgur.com/ObInFH7.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }

/* ========== Девушки ========== */
/* Маомао */             [href*="characters/155904-"], [srcset*="characters/155904/"] {
  --custom-image:     url("https://i.imgur.com/hngcNlI.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Мэгуми Нода */        [href*="characters/1185-"], [srcset*="characters/1185/"] {
  --custom-image:     url("https://i.imgur.com/9Meidtm.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Нагиса Фурукава */    [href*="characters/4604-"], [srcset*="characters/4604/"] {
  --custom-image:     url("https://i.imgur.com/bUk5Hew.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Розмайн */            [href*="characters/163811-"], [srcset*="characters/163811/"] {
  --custom-image:     url("https://i.imgur.com/GNXUi8Q.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Рокси Грейрат */      [href*="characters/111341-"], [srcset*="characters/111341/"] {
  --custom-image:     url("https://i.imgur.com/OTkD0CE.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; }
/* Сильфи Грейрат */     [href*="characters/111337-"], [srcset*="characters/111337/"] {
  --custom-image:     url("https://i.imgur.com/5Ixndag.png"); --show-default: 0; --display-default-character: none; --display-character-image: flex; } 