/* Изменение имени */
.profile-head .c-brief header h1         { visibility: hidden;  width:   0px;         }
.profile-head .c-brief header h1::before { visibility: visible; content: 'Anzhelika'; }
.profile-head .c-brief header h1::after  {
  visibility: visible;
  position:   relative;
  left:       -110px;
  content:    '(AnzhelikaO)';
  color:      #999999;
  font-size:  14px;
}

 /* Скрытие статуса */
.profile-head .c-brief header .misc { visibility: hidden; }

/* Удаление истории и графы друзей/клубов (для остальных) и графика статистики */
.profile-content .cc-2a.m30,
.profile-content .activity,
.profile-content .activity > .title,
.profile-content .activity > .b-nothing_here,
.profile-head .c-history.x3,
.profile-head .c-info .c-additionals {
  display: none
}
.p-profiles[data-faye*="[\"/private-1079176\"]"] .profile-content .cc-2a.m30,
.p-profiles[data-faye*="[\"/private-1079176\"]"] .c-history.x3,
.p-profiles[data-faye*="[\"/private-1079176\"]"] .profile-head .c-info .c-additionals {
  display: block
}