.a-r {
  display:       block;
  position:      absolute;
  z-index:       999;
  left:          8%;
  bottom:        25%;
  width:         25%;
  height:        14%;
  background:    rgba(100, 190, 105, 0.8);
  border-radius: 50%;
  border:        4px double white;
}
.a-rv {
  font-size:     calc(min(1200px, 100vw) * 0.015);
  color:         white;
  text-align:    center;
  margin-top:    5%;
  transform:     rotate(-15deg);
}