.a-s {
  display:    block;
  position:   absolute;
  z-index:    999;
  left:       36%;
  bottom:     26%;
  width:      30%;
  height:     10%;
  opacity:    0.8;
  filter:     drop-shadow(0px 0px 1px white)
              drop-shadow(0px 0.2px 1px white)
              drop-shadow(0.2px 0px 1px white)
              drop-shadow(0.2px 0.2px 1px white);
}
.a-sg {
  right:      0px;
  top:        0px;
  width:      100%;
  height:     50%;
  background: black;
  clip-path:  polygon(0% 7.69%, 0% 5.13%, 3.85% 2.56%, 10.77% 0%, 27.69% 0%, 34.62% 2.56%, 39.23% 5.13%, 42.31% 7.69%, 45.38% 10.26%, 46.15% 12.82%, 53.85% 12.82%, 54.62% 10.26%, 57.69% 7.69%, 60.77% 5.13%, 65.38% 2.56%, 72.31% 0%, 89.23% 0%, 96.15% 2.56%, 100% 5.13%, 100% 7.69%, 99.23% 7.69%, 99.23% 20.51%, 98.46% 23.08%, 96.92% 25.64%, 96.15% 28.21%, 95.38% 38.46%, 94.62% 48.72%, 93.85% 58.97%, 93.08% 66.67%, 92.31% 74.36%, 91.54% 79.49%, 87.69% 92.31%, 86.15% 94.87%, 84.62% 97.44%, 80.77% 100%, 71.54% 100%, 68.46% 97.44%, 66.15% 94.87%, 64.62% 92.31%, 63.08% 89.74%, 60.77% 82.05%, 60% 76.92%, 59.23% 74.36%, 58.46% 69.23%, 57.69% 66.67%, 56.92% 61.54%, 56.15% 56.41%, 55.38% 51.28%, 54.62% 43.59%, 53.85% 38.46%, 53.08% 33.33%, 57.69% 33.33%, 57.69% 41.03%, 58.46% 43.59%, 59.23% 53.85%, 60% 61.54%, 60.77% 69.23%, 61.54% 71.79%, 62.31% 76.92%, 64.62% 84.62%, 66.15% 87.18%, 68.46% 89.74%, 71.54% 92.31%, 72.31% 94.87%, 80.77% 94.87%, 81.54% 92.31%, 84.62% 89.74%, 86.15% 87.18%, 87.69% 84.62%, 88.46% 82.05%, 89.23% 76.92%, 90% 69.23%, 90.77% 61.54%, 91.54% 51.28%, 92.31% 48.72%, 92.31% 25.64%, 91.54% 23.08%, 90.77% 15.38%, 89.23% 12.82%, 87.69% 10.26%, 83.85% 7.69%, 83.08% 5.13%, 70% 5.13%, 69.23% 7.69%, 64.62% 10.26%, 62.31% 12.82%, 60.77% 15.38%, 59.23% 17.95%, 58.46% 23.08%, 57.69% 25.64%, 57.69% 33.33%, 53.08% 33.33%, 51.54% 28.21%, 48.46% 28.21%, 46.92% 33.33%, 46.15% 38.46%, 45.38% 43.59%, 44.62% 51.28%, 43.85% 56.41%, 43.08% 61.54%, 42.31% 66.67%, 41.54% 69.23%, 40.77% 74.36%, 40% 76.92%, 39.23% 82.05%, 36.92% 89.74%, 35.38% 92.31%, 33.85% 94.87%, 31.54% 97.44%, 28.46% 100%, 19.23% 100%, 15.38% 97.44%, 13.85% 94.87%, 12.31% 92.31%, 8.46% 79.49%, 7.69% 74.36%, 6.92% 66.67%, 6.15% 56.41%, 5.38% 48.72%, 4.62% 38.46%, 3.85% 28.21%, 3.08% 25.64%, 7.69% 25.64%, 7.69% 48.72%, 8.46% 51.28%, 9.23% 61.54%, 10% 69.23%, 10.77% 76.92%, 11.54% 82.05%, 12.31% 84.62%, 13.85% 87.18%, 15.38% 89.74%, 18.46% 92.31%, 19.23% 94.87%, 27.69% 94.87%, 28.46% 92.31%, 31.54% 89.74%, 33.85% 87.18%, 35.38% 84.62%, 37.69% 76.92%, 38.46% 71.79%, 39.23% 69.23%, 40% 61.54%, 40.77% 53.85%, 41.54% 43.59%, 42.31% 41.03%, 42.31% 25.64%, 41.54% 23.08%, 40.77% 17.95%, 39.23% 15.38%, 37.69% 12.82%, 35.38% 10.26%, 30.77% 7.69%, 30% 5.13%, 16.92% 5.13%, 16.15% 7.69%, 12.31% 10.26%, 10.77% 12.82%, 9.23% 15.38%, 8.46% 23.08%, 7.69% 25.64%, 3.08% 25.64%, 1.54% 23.08%, 0.77% 20.51%, 0.77% 7.69%, 0% 7.69%);
}
.a-sv {
  position:   absolute;
  right:      0px;
  top:        30%;
  width:      100%;
  height:     50%;
  font-size:  calc(min(1200px, 100vw) * 0.014);
  color:      black;
  text-align: center;
}