.anzh-spoiler {
  position:      relative;
  margin-bottom: 4px;
}

.anzh-anime-spoiler      .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  68px; }
.anzh-manga-spoiler      .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  15px; }
.anzh-boys-spoiler       .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  40px; }
.anzh-girls-spoiler      .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  53px; }
.anzh-couples-spoiler    .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  75px; }
.anzh-good-anime-spoiler .b-spoiler_block > span:first-child { text-indent: 0px; word-spacing:  58px; }
.anzh-music-spoiler      .b-spoiler_block > span:first-child { text-indent: 8px; word-spacing:  56px; }

.anzh-spoiler-border {
  position:      absolute;
  width:         360px;
  height:        45px;
  border-radius: 4px;
}
.anzh-spoiler-border-bright { border: 2px solid var(--anzh-purple-1); }
.anzh-spoiler-border-dim    { border: 2px solid var(--anzh-purple-2); }

.b-spoiler_block.is-fullwidth > span {
  font-size:               30px;
  min-height:              45px;
  padding-left:            7px;
  padding-top:             5px;
  -webkit-text-stroke:     1.5px;
}
.anzh-spoiler:nth-child(2n+1) .b-spoiler_block.is-fullwidth > span:first-child {
  color:                   var(--anzh-purple-1);
  -webkit-text-fill-color: var(--anzh-purple-2);
}
.anzh-spoiler:nth-child(2n)   .b-spoiler_block.is-fullwidth > span:first-child {
  color:                   var(--anzh-purple-2);
  -webkit-text-fill-color: var(--anzh-purple-3);
}
.b-spoiler_block.is-fullwidth > span::after {
  color:                   #515155;
  font-size:               14px;
  min-height:              0px;
  padding:                 0 8px;
  -webkit-text-fill-color: #515155;
  -webkit-text-stroke:     0px;
}
.anzh-other { position: relative; }