/* 2 */
@keyframes anzh-switch-2-1 {
  from { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  50%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-2-2 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  50%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-2-1 { position: relative; animation: anzh-switch-2-1 8s linear 0s infinite normal; }
.anzh-switch-2-2 { position: relative; animation: anzh-switch-2-2 8s linear 0s infinite normal; }



/* 3 */
@keyframes anzh-switch-3-1 {
  from { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  33%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-3-2 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  33%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  66%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-3-3 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  66%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-3-1 { position: relative; animation: anzh-switch-3-1 12s linear 0s infinite normal; }
.anzh-switch-3-2 { position: relative; animation: anzh-switch-3-2 12s linear 0s infinite normal; }
.anzh-switch-3-3 { position: relative; animation: anzh-switch-3-3 12s linear 0s infinite normal; }



/* 4 */
@keyframes anzh-switch-4-1 {
  from { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  25%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-4-2 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  25%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  50%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-4-3 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  50%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  75%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-4-4 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  75%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-4-1 { position: relative; animation: anzh-switch-4-1 16s linear 0s infinite normal; }
.anzh-switch-4-2 { position: relative; animation: anzh-switch-4-2 16s linear 0s infinite normal; }
.anzh-switch-4-3 { position: relative; animation: anzh-switch-4-3 16s linear 0s infinite normal; }
.anzh-switch-4-4 { position: relative; animation: anzh-switch-4-4 16s linear 0s infinite normal; }



/* 5 */
@keyframes anzh-switch-5-1 {
  from { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  20%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-5-2 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  20%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  40%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-5-3 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  40%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  60%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-5-4 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  60%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  80%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-5-5 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  80%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-5-1 { position: relative; animation: anzh-switch-5-1 20s linear 0s infinite normal; }
.anzh-switch-5-2 { position: relative; animation: anzh-switch-5-2 20s linear 0s infinite normal; }
.anzh-switch-5-3 { position: relative; animation: anzh-switch-5-3 20s linear 0s infinite normal; }
.anzh-switch-5-4 { position: relative; animation: anzh-switch-5-4 20s linear 0s infinite normal; }
.anzh-switch-5-5 { position: relative; animation: anzh-switch-5-5 20s linear 0s infinite normal; }



/* 6 */
@keyframes anzh-switch-6-1 {
  from   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  16.67% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-6-2 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  16.67% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  33.3%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-6-3 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  33.3%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  50%    { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-6-4 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  50%    { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  66.7%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-6-5 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  66.7%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  83.3%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-6-6 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  83.3%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-6-1 { position: relative; animation: anzh-switch-6-1 24s linear 0s infinite normal; }
.anzh-switch-6-2 { position: relative; animation: anzh-switch-6-2 24s linear 0s infinite normal; }
.anzh-switch-6-3 { position: relative; animation: anzh-switch-6-3 24s linear 0s infinite normal; }
.anzh-switch-6-4 { position: relative; animation: anzh-switch-6-4 24s linear 0s infinite normal; }
.anzh-switch-6-5 { position: relative; animation: anzh-switch-6-5 24s linear 0s infinite normal; }
.anzh-switch-6-6 { position: relative; animation: anzh-switch-6-6 24s linear 0s infinite normal; }



/* 7 */
@keyframes anzh-switch-7-1 {
  from  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  14.3% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-2 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  14.3% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  28.6% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-3 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  28.6% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  42.9% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-4 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  42.9% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  57.2% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-5 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  57.2% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  71.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-6 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  71.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  85.8% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-7-7 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  85.8% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-7-1 { position: relative; animation: anzh-switch-7-1 28s linear 0s infinite normal; }
.anzh-switch-7-2 { position: relative; animation: anzh-switch-7-2 28s linear 0s infinite normal; }
.anzh-switch-7-3 { position: relative; animation: anzh-switch-7-3 28s linear 0s infinite normal; }
.anzh-switch-7-4 { position: relative; animation: anzh-switch-7-4 28s linear 0s infinite normal; }
.anzh-switch-7-5 { position: relative; animation: anzh-switch-7-5 28s linear 0s infinite normal; }
.anzh-switch-7-6 { position: relative; animation: anzh-switch-7-6 28s linear 0s infinite normal; }
.anzh-switch-7-7 { position: relative; animation: anzh-switch-7-7 28s linear 0s infinite normal; }



/* 8 */
@keyframes anzh-switch-8-1 {
  from  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  12.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-2 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  12.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  25%   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-3 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  25%   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  37.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-4 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  37.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  50%   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-5 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  50%   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  62.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-6 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  62.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  75%   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-7 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  75%   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  87.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-8-8 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  87.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-8-1 { position: relative; animation: anzh-switch-8-1 32s linear 0s infinite normal; }
.anzh-switch-8-2 { position: relative; animation: anzh-switch-8-2 32s linear 0s infinite normal; }
.anzh-switch-8-3 { position: relative; animation: anzh-switch-8-3 32s linear 0s infinite normal; }
.anzh-switch-8-4 { position: relative; animation: anzh-switch-8-4 32s linear 0s infinite normal; }
.anzh-switch-8-5 { position: relative; animation: anzh-switch-8-5 32s linear 0s infinite normal; }
.anzh-switch-8-6 { position: relative; animation: anzh-switch-8-6 32s linear 0s infinite normal; }
.anzh-switch-8-7 { position: relative; animation: anzh-switch-8-7 32s linear 0s infinite normal; }
.anzh-switch-8-8 { position: relative; animation: anzh-switch-8-8 32s linear 0s infinite normal; }



/* 9 */
@keyframes anzh-switch-9-1 {
  from   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  11.11% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-2 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  11.11% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  22.22% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-3 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  22.22% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  33.33% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-4 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  33.33% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  44.44% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-5 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  44.44% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  55.55% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-6 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  55.55% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  66.66% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-7 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  66.66% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  77.77% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-8 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  77.77% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  88.88% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-9-9 {
  from   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  88.88% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-9-1 { position: relative; animation: anzh-switch-9-1 36s linear 0s infinite normal; }
.anzh-switch-9-2 { position: relative; animation: anzh-switch-9-2 36s linear 0s infinite normal; }
.anzh-switch-9-3 { position: relative; animation: anzh-switch-9-3 36s linear 0s infinite normal; }
.anzh-switch-9-4 { position: relative; animation: anzh-switch-9-4 36s linear 0s infinite normal; }
.anzh-switch-9-5 { position: relative; animation: anzh-switch-9-5 36s linear 0s infinite normal; }
.anzh-switch-9-6 { position: relative; animation: anzh-switch-9-6 36s linear 0s infinite normal; }
.anzh-switch-9-7 { position: relative; animation: anzh-switch-9-7 36s linear 0s infinite normal; }
.anzh-switch-9-8 { position: relative; animation: anzh-switch-9-8 36s linear 0s infinite normal; }
.anzh-switch-9-9 { position: relative; animation: anzh-switch-9-9 36s linear 0s infinite normal; }



/* 10 */
@keyframes anzh-switch-10-1 {
  from { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  10%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-2 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  10%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  20%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-3 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  20%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  30%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-4 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  30%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  40%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-5 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  40%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  50%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-6 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  50%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  60%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-7 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  60%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  70%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-8 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  70%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  80%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-9 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  80%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  90%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-10-10 {
  from { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  90%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-10-1  { position: relative; animation: anzh-switch-10-1  40s linear 0s infinite normal; }
.anzh-switch-10-2  { position: relative; animation: anzh-switch-10-2  40s linear 0s infinite normal; }
.anzh-switch-10-3  { position: relative; animation: anzh-switch-10-3  40s linear 0s infinite normal; }
.anzh-switch-10-4  { position: relative; animation: anzh-switch-10-4  40s linear 0s infinite normal; }
.anzh-switch-10-5  { position: relative; animation: anzh-switch-10-5  40s linear 0s infinite normal; }
.anzh-switch-10-6  { position: relative; animation: anzh-switch-10-6  40s linear 0s infinite normal; }
.anzh-switch-10-7  { position: relative; animation: anzh-switch-10-7  40s linear 0s infinite normal; }
.anzh-switch-10-8  { position: relative; animation: anzh-switch-10-8  40s linear 0s infinite normal; }
.anzh-switch-10-9  { position: relative; animation: anzh-switch-10-9  40s linear 0s infinite normal; }
.anzh-switch-10-10 { position: relative; animation: anzh-switch-10-10 40s linear 0s infinite normal; }



/* 11 */
@keyframes anzh-switch-11-1 {
  from  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  9.1%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-2 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  9.1%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  18.2% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-3 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  18.2% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  27.3% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-4 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  27.3% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  36.4% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-5 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  36.4% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  45.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-6 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  45.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  54.6% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-7 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  54.6% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  63.7% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-8 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  63.7% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  72.8% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-9 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  72.8% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  81.9% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-10 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  81.9% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  91%   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-11-11 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  91%   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-11-1  { position: relative; animation: anzh-switch-11-1  44s linear 0s infinite normal; }
.anzh-switch-11-2  { position: relative; animation: anzh-switch-11-2  44s linear 0s infinite normal; }
.anzh-switch-11-3  { position: relative; animation: anzh-switch-11-3  44s linear 0s infinite normal; }
.anzh-switch-11-4  { position: relative; animation: anzh-switch-11-4  44s linear 0s infinite normal; }
.anzh-switch-11-5  { position: relative; animation: anzh-switch-11-5  44s linear 0s infinite normal; }
.anzh-switch-11-6  { position: relative; animation: anzh-switch-11-6  44s linear 0s infinite normal; }
.anzh-switch-11-7  { position: relative; animation: anzh-switch-11-7  44s linear 0s infinite normal; }
.anzh-switch-11-8  { position: relative; animation: anzh-switch-11-8  44s linear 0s infinite normal; }
.anzh-switch-11-9  { position: relative; animation: anzh-switch-11-9  44s linear 0s infinite normal; }
.anzh-switch-11-10 { position: relative; animation: anzh-switch-11-10 44s linear 0s infinite normal; }
.anzh-switch-11-11 { position: relative; animation: anzh-switch-11-11 44s linear 0s infinite normal; }



/* 12 */
@keyframes anzh-switch-12-1 {
  from  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  8.3%  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-2 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  8.3%  { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  16.6% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-3 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  16.6% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  24.9% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-4 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  24.9% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  33.2% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-5 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  33.2% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  41.5% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-6 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  41.5% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  49.8% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-7 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  49.8% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  58.1% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-8 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  58.1% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  66.4% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-9 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  66.4% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  74.7% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-10 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  74.7% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  83%   { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-11 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  83%   { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
  91.3% { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
}
@keyframes anzh-switch-12-12 {
  from  { height: 0px;                overflow: hidden;  animation-timing-function: steps(1, end); }
  91.3% { height: var(--anzh-height); overflow: visible; animation-timing-function: steps(1, end); }
}

.anzh-switch-12-1  { position: relative; animation: anzh-switch-12-1  48s linear 0s infinite normal; }
.anzh-switch-12-2  { position: relative; animation: anzh-switch-12-2  48s linear 0s infinite normal; }
.anzh-switch-12-3  { position: relative; animation: anzh-switch-12-3  48s linear 0s infinite normal; }
.anzh-switch-12-4  { position: relative; animation: anzh-switch-12-4  48s linear 0s infinite normal; }
.anzh-switch-12-5  { position: relative; animation: anzh-switch-12-5  48s linear 0s infinite normal; }
.anzh-switch-12-6  { position: relative; animation: anzh-switch-12-6  48s linear 0s infinite normal; }
.anzh-switch-12-7  { position: relative; animation: anzh-switch-12-7  48s linear 0s infinite normal; }
.anzh-switch-12-8  { position: relative; animation: anzh-switch-12-8  48s linear 0s infinite normal; }
.anzh-switch-12-9  { position: relative; animation: anzh-switch-12-9  48s linear 0s infinite normal; }
.anzh-switch-12-10 { position: relative; animation: anzh-switch-12-10 48s linear 0s infinite normal; }
.anzh-switch-12-11 { position: relative; animation: anzh-switch-12-11 48s linear 0s infinite normal; }
.anzh-switch-12-12 { position: relative; animation: anzh-switch-12-12 48s linear 0s infinite normal; }