.p-profiles {  
  --anzh-purple-1:         #a579e0;          /* яркий */
  --anzh-purple-2:         #8766b7;          /* средней */
  --anzh-purple-3:         #6a5191;          /* тусклый */
  --anzh-gold:             #ffd666;
  --anzh-silver:           #eee9e9;
  --anzh-bronze:           #d1957d;
  --anzh-copper:           #994820;
  --anzh-coal:             #606060;
  --anzh-rainbow-1:        #d064ff;          /* фиолетовый */
  --anzh-rainbow-2:        var(--anzh-gold); /* жёлтый */
  --anzh-rainbow-3:        #64ff64;          /* зелёный */
  --anzh-rainbow-4:        #64a8ff;          /* голубой */

  --anzh-height:           250px;

  --anzh-border-width:     8px;
  --anzh-border-style:     double;
  --anzh-border-style-r:   solid;

  --anzh-rainbow-border-1: var(--anzh-border-width) var(--anzh-border-style-r) var(--anzh-rainbow-1);
  --anzh-rainbow-border-2: var(--anzh-border-width) var(--anzh-border-style-r) var(--anzh-rainbow-2);
  --anzh-rainbow-border-3: var(--anzh-border-width) var(--anzh-border-style-r) var(--anzh-rainbow-3);
  --anzh-rainbow-border-4: var(--anzh-border-width) var(--anzh-border-style-r) var(--anzh-rainbow-4);
  --anzh-gold-border:      var(--anzh-border-width) var(--anzh-border-style)   var(--anzh-gold);
  --anzh-silver-border:    var(--anzh-border-width) var(--anzh-border-style)   var(--anzh-silver);
  --anzh-bronze-border:    var(--anzh-border-width) var(--anzh-border-style)   var(--anzh-bronze);
  --anzh-copper-border:    var(--anzh-border-width) var(--anzh-border-style)   var(--anzh-copper);
  --anzh-coal-border:      var(--anzh-border-width) var(--anzh-border-style)   var(--anzh-coal);
}